    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% ifequal field.name 'content' %}
            <textarea class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}"></textarea>
            {% else %}
            <input class="form-control" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
                value="{{ field.label }}" name="{{ field.name }}" />
            {% endifequal %}
        </div>
        {% if field.errors %}
        <span class="fs6 text-decoration-underline" style="color: red;">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}
        <div class="col-12">
            <button type="submit" class="btn btn-primary">수정하기</button>
        </div>
    </form>